.flex {
  display: flex;
}
.items {
  &-center {
    align-items: center;
  }
}
.justify {
  &-between {
    justify-content: space-between;
  }
}

.row-custom {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  padding-left: 8px;
  padding-right: 8px;
  align-items: center;
  position: relative;
  grid-template-rows: 32px;
}

.scroll-box {
  overflow: hidden;
  // color: rgba(0, 0, 0, 0);
  // -webkit-text-fill-color: black;
  // box-shadow: 0 1px 6px var(--gray-300);
  // transition: color 0.2s ease;
  &:hover {
    overflow: auto;
    //color: var(--gray-500);
  }
}
@for $i from 1 through 12 {
  .col-span-#{$i} {
    grid-column: span $i;
  }
}

@for $i from 1 through 9 {
  .gap-#{$i} {
    gap: #{$i * 0.25rem};
  }
}

@for $i from 1 through 9 {
  .fw-#{$i * 100} {
    font-weight: #{$i * 100};
  }
}
